<ion-header>
  <ion-toolbar>
    <ion-title>
      Informations
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img
      src="https://www.voyageindonesie.com/cdn/wordpress/id_2/2018/03/puru_ulun_danu_temple_lake_baratan_bali.jpg-2-MAX-w1000h600.jpg"
      alt="Bali Plage"
    />
    <ion-card-header>
      <ion-card-title>Bali</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <b>
          Bali est une île d'une beautée incroyable. <br />
          Au coeur de l'océan Indien, elle est la perle de l'archipel
          indonésien, qui attire tous les ans des millions de touristes.
        </b>
      </p>
      <p>
        Les beaux paysages de Bali sont connus du monde entier : rizières,
        montagnes, plages de sable blanc et eaux turquoises. Ils sont très
        diversifiés et aussi intéressants à découvrir les uns que les autres. La
        montagne la plus élevée de l’île est le mont Agung qui culmine à 3.142
        mètres. L'île est ainsi réputée pour son activité volcanique et ses
        hauts plateaux montagneux.
      </p>
      <img
        src="https://www.voyageindonesie.com/cdn/wordpress/id_2/2018/03/bali_riziere-FILL-w600h400.jpg-FILL-w600h400.jpg"
        alt="Rizière"
      />
      <p>
        On trouve de nombreuses espèces animales sur l’Île des Dieux dont les
        plus connues sont l’étourneau de Bali et le macaque crabier. De nombreux
        parcs nationaux sont accessibles aux visiteurs comme celui de Bali
        occidental, situé à l’ouest de l’île. La culture balinaise est l’une des
        plus riches de l’archipel indonésien. Rythmés par les traditions et les
        cérémonies religieuses, la musique, les danses et l’artisanat sont les
        pièces maîtresses de la vie sur l'île. La visite des temples permet
        d’avoir un bel aperçu de l’importance que les Balinais accordent à la
        spiritualité et à leurs croyances. A toutes ces découvertes s’ajoutent
        de nombreuses activités : plongée sous-marine, snorkeling, surf,
        randonnées et treks, ascension de volcans, spectacles… On conseille
        notamment de se rendre à l’intérieur des terres pour s’immerger plus
        facilement dans la culture balinaise; et ainsi éviter l’afflux de
        personnes sur les sites les plus touristiques de l’île.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
