<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <ion-title>Hébergements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Hébergements</h5>

  <ion-card
    class="ion-padding"
    href="https://www.airbnb.fr/rooms/4026549?check_in=2020-11-10&check_out=2020-11-17&source_impression_id=p3_1575306235_87GSJBAmgOf4IkDo"
    target="_blank"
  >
    <ion-card-subtitle>Vue sur la mer </ion-card-subtitle>
    <img
      class="img-logement"
      src="https://a0.muscache.com/im/pictures/86187749/7167881c_original.jpg?aki_policy=large"
      alt="vue sur la mer"
    />
    <p>Maginifique villa avec vue sur la mer</p>
    <p><b>Capacité:</b> 1O personnes</p>
    <p><b>Nbr de chambres:</b> 5</p>
    <p><b>Nbr de salles de bain:</b> 5</p>
  </ion-card>

  <ion-card
    class="ion-padding"
    href="https://www.airbnb.fr/rooms/20781973?adults=2&check_in=2020-11-10&check_out=2020-11-17&source_impression_id=p3_1575305748_qFfkjJG8aCyzHiJ%2F"
    target="_blank"
  >
    <ion-card-subtitle>Romantique </ion-card-subtitle>
    <img
      class="img-logement"
      src="https://a0.muscache.com/im/pictures/2a2b7f15-d352-4d52-81d8-2a41daa9ff82.jpg?aki_policy=xx_large"
      alt="romantique"
    />
    <p>Idéal pour une lune de miel</p>
    <p><b>Capacité:</b> 2 personnes</p>
    <p><b>Nbr de chambres:</b> 1</p>
    <p><b>Nbr de salles de bain:</b> 1</p>
  </ion-card>

  <ion-card
    class="ion-padding"
    href="https://www.airbnb.fr/rooms/12836647?adults=2&children=2&check_in=2020-11-10&check_out=2020-11-17&source_impression_id=p3_1575305895_byh2vLqQwofBbSfh"
    target="_blank"
  >
    <ion-card-subtitle>Entres couples </ion-card-subtitle>
    <img
      class="img-logement"
      src="https://a0.muscache.com/im/pictures/c26e2f0d-0a26-4d6a-9017-610aa2cd27e2.jpg?aki_policy=xx_large"
      alt="entre couples"
    />
    <p>Chill entre amis</p>
    <p><b>Capacité:</b> 6 personnes</p>
    <p><b>Nbr de chambres:</b> 3</p>
    <p><b>Nbr de salles de bain:</b> 3</p>
  </ion-card>

  <ion-card
    class="ion-padding"
    href="https://www.airbnb.fr/rooms/17967203?adults=16&check_in=2020-11-10&check_out=2020-11-17&source_impression_id=p3_1575306004_b%2BBD9YWhlDn6FNMU"
    target="_blank"
  >
    <ion-card-subtitle>Entre amis </ion-card-subtitle>
    <img
      class="img-logement"
      src="https://a0.muscache.com/im/pictures/083f048f-2ee8-44c5-8f08-a9d9a4833f71.jpg?aki_policy=xx_large"
      alt="entre amis"
    />
    <p>La fête ne s'arrête jamais</p>
    <p><b>Capacité:</b> 16 personnes</p>
    <p><b>Nbr de chambres:</b> 8</p>
    <p><b>Nbr de salles de bain:</b> 8</p>
  </ion-card>
</ion-content>
