<ion-header>
  <ion-toolbar>
    <ion-title>Restaurants</ion-title
    ><ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
    <!-- Je peux mettre le bouton avant le titre ou apres, ce n'est pas important
    car le slot="start" fais que le bouton de retour sera quoi qu'il arrive au début de la ligne. -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>Restaurants</h5>
  <ion-card
    href="http://www.balilocalguide.com/fr/avis/restaurants/top-10-meilleurs-restaurants/boat-shed-restaurant-amed-nalini-resort"
    target="_blank"
  >
    <img
      src="http://www.balilocalguide.com/IMG/jpg/nalini-resort-amed-bali-16-2.jpg"
      alt="The Boat Shed Restaurants"
    />
    <ion-card-header>
      <ion-card-title>
        <h2>The Boat Shed Restaurant</h2>
      </ion-card-title>
      <ion-card-subtitle>
        Amed
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Quel bonheur de profiter d'un repas typique sur la terasse de ce
        restaurant face à la mer, en admirant un magnifique couché de soleil.
      </p>
      <p>
        <i><b>Réservation recommandée.</b></i>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card
    href="http://www.balilocalguide.com/fr/avis/restaurants/top-10-meilleurs-restaurants/article/hai-bar-grill"
    target="_blank"
  >
    <img
      src="http://www.balilocalguide.com/IMG/jpg/hai-bar-and-grill-nusa-lembongan-6.jpg"
      alt="Hai Bar & Grill"
    />
    <ion-card-header>
      <ion-card-title>
        <h2>Hai Bar & Grill</h2>
      </ion-card-title>
      <ion-card-subtitle>
        Lembongan
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Sur l'île de Nusa Lembongan, ce restaurant-grill huppé propose une carte
        très rafinée de cuisine indonésienne. <br />
        Profitez d'un poisson grillé à même la plage.
      </p>
      <p>
        <i
          ><b
            >Notre conseil: profiter d'un cockatil pour un apéro romantique.</b
          ></i
        >
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card
    href="http://www.balilocalguide.com/fr/avis/restaurants/top-10-meilleurs-restaurants/article/warung-astawa"
    target="_blank"
  >
    <img
      src="http://www.balilocalguide.com/IMG/jpg/warung-astawa-candidasa-10.jpg"
      alt="Warung Astawa"
    />
    <ion-card-header>
      <ion-card-title>
        Warung Astawa
      </ion-card-title>
      <ion-card-subtitle>
        Candidasa
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Pour un repas plus typique, rendez-vous dans ce warung où on sert de
        succulents plats locaux. <br />
        Âmes sensibles s'abstenir, ici on n'a pas peur de pimenter les plats.
      </p>
      <p>
        <i><b>Attention: assez bruyant.</b></i>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card
    href="http://www.balilocalguide.com/fr/avis/restaurants/top-10-meilleurs-restaurants/article/cafe-moonlight-bali"
    target="_blank"
  >
    <img
      src="http://www.balilocalguide.com/IMG/jpg/cafe-moonlight-bali-seminyak-6.jpg"
      alt="Cafe Moonlight Bali"
    /><ion-card-header>
      <ion-card-title>
        Cafe Moonlight Bali
      </ion-card-title>
      <ion-card-subtitle>
        Kuta Utara
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Une quinzaine de tables au rez-de-chaussée, une terrasse panoramique et
        une carte de currys, base du régime indonésien, à faire pâlir le reste
        de l'île.
      </p>
      <p>
        <i><b>Le point fort? Le rapport qualité-prix.</b></i>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card
    href="http://www.balilocalguide.com/fr/avis/restaurants/top-10-meilleurs-restaurants/article/sawah-indah"
    target="_blank"
  >
    <img
      src="http://www.balilocalguide.com/IMG/jpg/warung-sawah-indah-ubud-4.jpg"
      alt="Sawah Indah"
    />
    <ion-card-header>
      <ion-card-title>
        Sawah Indah
      </ion-card-title>
      <ion-card-subtitle>
        Ubud
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Situé au coeur des rizières de l'Est d'Ubud, sur plusieurs îlots, le
        paysage est sans conteste le point fort de ce restaurant <br />
        Mais résumer ce restaurant à sa situation serait une erreur tant on peut
        se régaler d'un repas de fête balinais.
      </p>
      <p>
        <i><b>Le petit plus: avoir sa propre île le temps d'un repas.</b></i>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
